/******************** Boaz start **********************/

@font-face {
    src: url(../font/Metropolis-Medium.otf);
    font-family: Metropolis-med;
}

@font-face {
    src: url(../font/Metropolis-Bold.otf);
    font-family: Metropolis-bold;
}

@font-face {
    src: url(../font/Metropolis-ExtraBold.otf);
    font-family: Metropolis-extra-bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    max-width: 2570px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

p,
.copyright__link-box__link {
    font-size: 1.1rem;
    line-height: 1.3em;
}

p,
.copyright__link-box__link {
    font-family: Metropolis-med;
}

button {
    background-color: transparent;
    border: 0;
}

.container {
    position: relative;
}

.cursor {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.float-right {
    float: right;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-transform-uppercase {
    text-transform: uppercase
}

.t-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}


/********************  Header formating start **********************/

header {
    background-color: transparent;
    font-family: Metropolis-med;
}

.navbar {
    max-width: 100%;
    margin: 0 5em;
    padding-top: 2em;
}

.navbar,
.menu,
.splide__slide,
.menu-content__text-box__div__text-box {
    align-items: center;
}

.navbar-logo-box {
    width: 25%;
    margin-top: 1em;
}

.navbar-logo-box__img {
    width: 60%;
}

.menu {
    list-style: none;
    flex-wrap: wrap;
    padding-right: 4.7%;
    width: 50%;
}

.menu.active {
    right: 0;
}

.menu li {
    padding-right: 4em;
}

.menu__elem--pr-0 {
    padding-right: 0 !important;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a {
    font-size: 1.1rem;
    font-weight: 300;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 33px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.menu {
    justify-content: center;
}

.navbar__link-box {
    width: 25%;
}

.navbar__link-box__p {
    margin: 0;
}

.navbar__link-box__p__link,
.menu-content__h4,
.menu-content__text-box__div__h6,
.menu-content__text-box__div__text-box__p,
.menu-content__text-box__div__text-box__strong,
.about-content__h1,
.gallery-content__h4,
.footer-content__link-box__h5,
.footer-content__link-box__div__p__link,
.copyright__youSite-div__h4,
.copyright__link-box__link {
    color: #fff;
}

.navbar__link-box__p__link__img,
.footer-content__link-box__div__p__link__img {
    width: 30px;
    height: 22px;
}


/********************  Header formating end **********************/


/********************  Slider formating start **********************/

.slider-content {
    background-image: url(../img/slider/slider-bg.webp);
    background-size: cover;
    padding-top: 13em;
    margin-top: -9em;
}

.slider-content__img {
    width: 100%;
}


/********************  Slider formating end **********************/


/********************  Menu formating start **********************/

.menu-content {
    background-image: url(../img/menu/menu.webp);
    background-size: 100% 100%;
    background-position-y: -0.3em;
}

.menu-content {
    padding-bottom: 5em !important;
}

.menu-content__text-box__div {
    width: 50%;
}

.menu-content__text-box__div__h6 {
    padding: 1.3em 0 1.3em 0;
}

.menu-content__text-box__div__text-box {
    justify-content: space-between;
}

.menu-content__text-box__div__text-box__p {
    margin: 0.1em 0;
}

.menu-content__text-box__div__margin-right-box {
    margin-right: 3em;
}

.menu-content__text-box__div__margin-left-box {
    margin-left: 3em;
}


/********************  Menu formating end **********************/


/********************  About formating start **********************/

.about-content__flex-box {
    background-image: url(../img/about/about.webp);
    background-size: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about-content,
.menu-content,
.gallery-content,
.footer-content,
.copyright {
    padding: 0 4em;
}

.about-content,
.gallery-content,
.footer-content,
.copyright {
    background: #000;
}

.menu-content__text-box__div__text-box__strong,
.about-content__h1,
.menu-content__h4,
.menu-content__text-box__div__h6,
.gallery-content__h4,
.footer-content__link-box__h5 {
    font-family: Metropolis-bold;
}

.about-content__h1,
.menu-content__h4,
.menu-content__text-box__div__h6,
.gallery-content__h4,
.footer-content__link-box__h5 {
    font-size: 1.7rem;
}

.about-content__h1,
.menu-content__h4,
.gallery-content__h4,
.footer-content__link-box__h5 {
    padding: 1.3em 0;
}

.about-content__img-text-box__text-box__h2 {
    font-family: Metropolis-med;
    font-size: 1.3rem;
    margin-bottom: 0.2em;
}

.about-content__img-text-box__text-box__h3 {
    font-size: 1.6rem;
}

.about-content__img-text-box__text-box__h3,
.copyright__youSite-div__h4 {
    font-family: Metropolis-extra-bold;
}

.about-content__flex-box__div,
.footer-content__link-box {
    width: 60%;
}

.about-content__img-text-box,
.footer-content__map-box {
    width: 40%;
}

.about-content__img-text-box {
    padding: 7em 3em;
}

.about-content__img-text-box,
.footer-content__link-box {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0);
}

.about-content__img-text-box,
.about-content__img-text-box__bg-box {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-content__img-text-box__bg-box {
    background: #fff;
}

.footer-content__link-box__bg-box {
    background: #000;
}

.about-content__img-text-box__bg-box,
.footer-content__link-box__bg-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}


/********************  About formating end **********************/


/********************  About formating end **********************/


/********************  Gallery formating start **********************/

.splide__slide {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 580px;
    overflow: hidden;
    opacity: 0.3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 1em;
}

.splide__slide__img {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.splide__slide.is-active {
    opacity: 1;
}

#secondary-slider .splide__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#secondary-slider .splide__slide {
    flex: 0 0 calc(16.666% - 10px);
    margin-right: 10px;
}

#secondary-slider .splide__slide:last-child {
    margin-right: 0;
}

.splide__arrow {
    background: unset;
    font-size: 0;
}


/* .splide__arrow--next {
    background-image: url(../img/gallery/arrow-right.svg);
    right: 5%;
}

.splide__arrow--next,
.splide__arrow--prev {
    background-size: cover;
    height: 90px;
    width: 70px;
    z-index: 1000;
    opacity: 1;
    background-repeat: no-repeat;
}

.splide__arrow--prev {
    background-image: url(../img/gallery/arrow-left.svg);
    left: 5%;
} */


/********************  Gallery formating end **********************/


/********************  Footer formating start **********************/

.footer-content {
    padding-top: 3.7em;
}

.footer-content__link-box {
    background-image: url(../img/footer/footer-bg.webp);
    background-size: cover;
}

.footer-content__map-box__iframe {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
}

.footer-content__link-box {
    border-top-left-radius: 50px;
    padding: 0 0 1.5em 3.5em;
}

.footer-content__link-box__h5 {
    padding: 1em 0 0.5em 0;
}

.footer-content__link-box__div__p__link__img {
    margin: 0 0.4em 0 0;
    top: 5px;
}

.copyright--bg {
    justify-content: space-between;
    background: #282828;
    padding: 1.5em 4em;
}

.copyright__link-box__link {
    margin-left: 2em;
}

.copyright__youSite-div__h4 {
    margin-top: 0.3em;
}


/********************  Footer formating end **********************/


/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
    .menu li a {
        font-size: 1.6rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1.5rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 2.3rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.9rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 2.3rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    .about-content__img-text-box {
        padding: 10em 3em;
    }
    .splide__slide {
        height: 800px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    .footer-content__link-box {
        border-top-left-radius: 70px;
    }
    .footer-content__link-box {
        padding: 1em 0 5.3em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 30px;
        height: 30px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 2000px) and (max-width: 2200px) {
    .menu li a {
        font-size: 1.6rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1.5rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 2.3rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.9rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 2.3rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    .about-content__img-text-box {
        padding: 10em 3em;
    }
    .splide__slide {
        height: 800px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    .footer-content__link-box {
        border-top-left-radius: 70px;
    }
    .footer-content__link-box {
        padding: 1em 0 5.3em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 30px;
        height: 30px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 1800px) and (max-width: 2000px) {
    .menu li a {
        font-size: 1.4rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1.3rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 2.2rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.5rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 2.1rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    .about-content__img-text-box {
        padding: 10em 3em;
    }
    .splide__slide {
        height: 750px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    .footer-content__link-box {
        border-top-left-radius: 70px;
    }
    .footer-content__link-box {
        padding: 1em 0 5.3em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 30px;
        height: 30px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 1600px) and (max-width: 1800px) {
    .menu li a {
        font-size: 1.3rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1.2rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 2.1rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.5rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 2rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    .about-content__img-text-box {
        padding: 10em 3em;
    }
    .splide__slide {
        height: 750px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    .footer-content__link-box {
        border-top-left-radius: 70px;
    }
    .footer-content__link-box {
        padding: 1em 0 5.3em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 30px;
        height: 30px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .menu li a {
        font-size: 1.2rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 1.9rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.3rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 1.9rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    .about-content__img-text-box {
        padding: 8em 3em;
    }
    .splide__slide {
        height: 750px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    .footer-content__link-box {
        border-top-left-radius: 70px;
    }
    .footer-content__link-box {
        padding: 1em 0 5.3em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 30px;
        height: 30px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .menu li a {
        font-size: 1.1rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1.1rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 1.5rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.2rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 1.6rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        border-bottom-left-radius: 55px;
    }
    .about-content__img-text-box {
        padding: 7em 3em;
    }
    .splide__slide {
        height: 750px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .footer-content__link-box {
        border-top-left-radius: 55px;
    }
    .footer-content__link-box {
        padding: 1em 0 3.5em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 25px;
        height: 25px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .navbar-logo-box__img {
        width: 70%;
    }
    .menu li {
        padding-right: 2.9em;
    }
    .menu li a {
        font-size: 1rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1rem;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 1.5rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.2rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 1.4rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        border-bottom-left-radius: 55px;
    }
    .about-content__img-text-box {
        padding: 7em 3em;
    }
    .splide__slide {
        height: 750px;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
    }
    .footer-content__link-box {
        border-top-left-radius: 55px;
    }
    .footer-content__link-box {
        padding: 1em 0 3.5em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 20px;
        height: 20px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .navbar {
        margin: 0 3em;
    }
    .navbar-logo-box__img {
        width: 75%;
    }
    .menu li {
        padding-right: 2.3em;
    }
    .menu li a {
        font-size: .9rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: .9rem;
    }
    .about-content,
    .menu-content,
    .gallery-content,
    .footer-content,
    .copyright {
        padding: 0 3em;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 1.4rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.2rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 1.3rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
    }
    .about-content__img-text-box {
        padding: 4.5em 3em;
    }
    .splide__slide {
        height: 600px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .footer-content__link-box {
        border-top-left-radius: 45px;
    }
    .footer-content__link-box {
        padding: 1em 0 3.5em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 20px;
        height: 20px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hamburger {
        display: flex;
        background: #ab815f;
        padding: 0.5rem;
        margin: 0 1.5em 0 0;
        bottom: 2.3em;
    }
    .menu.hidden {
        display: none;
    }
    .menu {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background: #ab815f;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 100;
        margin: 0;
        border: 5px solid #fff;
        border-bottom: 0;
        min-height: 100%;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        margin: 10px;
    }
    .header__right-box,
    .menu {
        justify-content: flex-start;
    }
    .header__right-box,
    .menu {
        flex-direction: column;
    }
    .navbar {
        align-items: baseline;
        flex-direction: unset;
    }
    .header__right-box {
        text-align: left;
    }
    .header__right-box__div {
        margin-bottom: 0.5em;
    }
    .header__right-box__div__link__img {
        width: 3vh;
    }
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-logo-box {
        width: 35%;
        margin: 0;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1rem;
    }
    .menu li {
        padding-right: 1em;
        margin: 3em 0 0 0;
    }
    .menu__link__img {
        width: 30px;
        margin-left: -14px;
    }
    .navbar {
        margin: 0 3em;
    }
    .navbar__link-box {
        width: 65%;
        width: 65%;
        top: -2em;
        position: relative;
    }
    .navbar-logo-box__img {
        width: 80%;
    }
    .menu li {
        padding-right: 0;
    }
    .menu li a {
        font-size: 1rem;
    }
    p,
    .copyright__link-box__link,
    .menu-content__text-box__div__text-box__strong {
        font-size: 1rem;
    }
    .about-content,
    .menu-content,
    .gallery-content,
    .footer-content,
    .copyright {
        padding: 0 3em;
    }
    .about-content__h1,
    .menu-content__h4,
    .menu-content__text-box__div__h6,
    .gallery-content__h4,
    .footer-content__link-box__h5 {
        font-size: 1.4rem;
    }
    .about-content__img-text-box__text-box__h2 {
        font-size: 1.2rem;
    }
    .about-content__img-text-box__text-box__h3 {
        font-size: 1.3rem;
    }
    .about-content__flex-box {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
    }
    .about-content__img-text-box {
        padding: 4.5em 3em;
    }
    .splide__slide {
        height: 600px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .footer-content__link-box {
        border-top-left-radius: 45px;
    }
    .footer-content__link-box {
        padding: 1em 0 3.5em 3.5em;
    }
    .copyright__youSite-div__h4 {
        margin-top: 0.5em;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        width: 20px;
        height: 20px;
    }
    .navbar__link-box__p__link__img,
    .footer-content__link-box__div__p__link__img {
        top: 7px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger {
        display: flex;
        background: #d74558;
        padding: 0.5rem;
        margin: 0 1.5em 0 0;
        bottom: 33px;
    }
    .menu.hidden {
        display: none;
    }
    .menu {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-color: #D74558;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 100;
        margin: 0;
        border: 5px solid #fff;
        border-bottom: 0;
        min-height: 100%;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        margin: 10px;
    }
    .header__right-box,
    .menu {
        justify-content: flex-start;
    }
    .header__right-box,
    .menu {
        flex-direction: column;
    }
    .navbar {
        align-items: baseline;
        flex-direction: unset;
    }
    .header__right-box {
        text-align: left;
    }
    .header__right-box__div {
        margin-bottom: 0.5em;
    }
    .header__right-box__div__link__img {
        width: 3vh;
    }
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-logo-box {
        width: 33%;
        margin: 0;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1rem;
    }
    .menu li {
        padding-right: 1em;
        margin: 1.6em 0 0 0;
    }
    .menu__link__img {
        width: 30px;
        margin-left: -14px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {}

@media (min-width: 500px) and (max-width: 640px) {}

@media (min-width: 400px) and (max-width: 500px) {}

@media (min-width: 300px) and (max-width: 400px) {}


/********************  Media formating end **********************/


/******************** Boaz end **********************/